
.about {
   padding-bottom: 100px;
   background: $primaryWhite;
   &__halfimg {
      position: relative;
   }
   &__half-image {
      position: absolute;
      left: 0px;
      top: -250px;
      max-width: 100%;
      width: 470px;
      height: 385px;
      object-fit: cover;
      @media (max-width: ($mobile)) {
         width: 728px;
         height: 402px;
         top: -50px;
      }
      @media (max-width: ($mobileSmall)) {
         width: 440px;
         height: 355px;
      }
   }
   &__title {
      font-size: 81px;
      text-transform: uppercase;
      font-weight: 700;
      color: transparent;
      -webkit-text-stroke: 3px $secondaryGrey;
      text-align: center;
      line-height: math.div(97.2, 81);
      letter-spacing: 35px;
      margin-bottom: 80px;
      font-family: Arial, Helvetica, sans-serif;
      position: relative;
      z-index: 50;
      @media (max-width: ($mobile)) {
         font-size: 52px;
         line-height: math.div(77, 64);
         letter-spacing: 10px;
         -webkit-text-stroke: 2px $secondaryGrey;
      }
      @media (max-width: ($mobileSmall)) {
         font-size: 26px;
         line-height: math.div(37, 26);
         -webkit-text-stroke: 2px $secondaryGrey;
      }
   }
   &__body {
      display: flex;
      color: $mainColor;
      @media (max-width: ($mobile)) {
         flex-wrap: wrap;
      }
      
   }
   &__text {
      margin-bottom: 60px;
   }
   &__subtitle {
      margin-bottom: 30px;
      font-size: 40px;
      line-height: math.div(48, 40);
      font-weight: 700;
      letter-spacing: 2px;
   }
   &__description {
      font-weight: 0;
      font-size: 20px;
      line-height: math.div(30, 20);
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
   &__img {
      
   }
   &__image {

      width: 386px;
      height: 607px;
      object-fit: cover;
      object-position: 45% 100%;
      @media (max-width: em($tablet)) {
         max-width: 100%;
         width: 450px;
         object-position: 55% 100%;
      }
      @media (max-width: ($mobile)) {
         width: 728px;
         max-width: 100%;
         
      }
      @media (max-width: ($mobileSmall)) {
         max-width: 100%;
         width: 440px;
         object-position: 65% 100%;
         
      }
      @media (max-width: em(380)) {
         max-width: 100%;
         object-fit: contain;
         height: 100%;
      }
   }
}

[data-scroll] {
   transition: all 3s;
}

[data-scroll='in'] {
   opacity: 1;
   transform: translateY(0);
}

[data-scroll='out'] {
   opacity: 0;
   transform: translateY(100px);
}

