
.about {
   background: $primaryWhite;
   &__halfimg {
      position: relative;
   }
   &__half-image {
      position: absolute;
      left: 0px;
      top: -250px;
   }
   &__title {
      font-size: 81px;
      text-transform: uppercase;
      color: transparent;
      -webkit-text-stroke: 3px $secondaryGrey;
      text-align: center;
      line-height: math.div(97.2, 81);
      letter-spacing: 35px;
      margin-bottom: 80px;
      font-family: Arial, Helvetica, sans-serif;
      position: relative;
      z-index: 50;
   }
   &__body {
      display: flex;
      color: $mainColor;
      
   }
   &__subtitle {
      margin-bottom: 30px;
      font-size: 40px;
      line-height: math.div(48, 40);
      font-weight: 700;
      letter-spacing: 2px;
   }
   &__description {
      font-size: 20px;
      line-height: math.div(30, 20);
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
   &__img {
      
   }
}

[data-scroll] {
   transition: all 3s;
}

[data-scroll='in'] {
   opacity: 1;
   transform: translateY(0);
}

[data-scroll='out'] {
   opacity: 0;
   transform: translateY(100px);
}

