.clinics {
   padding: 100px 0px;
   background: #fff;
   &__title {
      text-align: center;
      font-size: 63px;
      font-weight: 700;
      line-height: math.div(76, 63);
      letter-spacing: 7px;
      text-transform: uppercase;
      color: #eaeaea;
      margin-bottom: 50px;
      @media (max-width: em(1215)) {
         font-size: 54px;
         line-height: math.div(65, 54);
         letter-spacing: 3px;
      }
      @media (max-width: em(1024)) {
         font-size: 40px;
         line-height: math.div(48, 40);
      }
      @media (max-width: ($mobileSmall)) {
         font-size: 30px;
         line-height: math.div(36, 30);
         letter-spacing: 2px;
      }
   }
   &__body {
      display: flex;
      @media (max-width: em(820)) {
         flex-wrap: wrap;;
      }
   }
   &__heading {
      font-size: 40px;
      font-weight: 700;
      line-height: math.div(48, 40);
      color: #151515;
      margin-bottom: 60px;
      @media (max-width: em(1215)) {
         font-size: 35px;
         line-height: math.div(40, 35);
      }
      @media (max-width: em(1024)) {
         font-size: 30px;
         line-height: math.div(36, 30);
      }
      @media (max-width: ($mobileSmall)) {
         font-size: 24px;
         line-height: math.div(28, 24);
      }
   }
   &__content {
      @media (max-width: em(1215)) {
         width: 600px;
      }
      @media (max-width: em(1024)) {
         width: 500px;
         &:not(:last-child) {
            margin-right: 5px!important;
         }
      }
      @media (max-width: em(820)) {
        width: 100%;
        &:not(:last-child) {
         margin-bottom: 44px!important;
      }
      }
     
      &:not(:last-child) {
         margin-right: 30px;
      }
   }
   &__padding{
      padding-bottom: 49px;
      @media (max-width: em(1215)) {
         padding-bottom: 40px;
      }
      @media (max-width: em(1024)) {
         padding-bottom: 10px;
      }
      @media (max-width: em(820)) {
         padding-bottom: 0px;
      }
   }
   &__location {
      display: flex;
      margin-bottom: 30px;
      min-width: 0;
   }
   &__adress {
      font-size: 20px;
      font-weight: 500;
      line-height: math.div(28, 20);
      color: #151515;
      // letter-spacing: 1px;
      margin-left: 11px;
      @media (max-width: ($mobileSmall)) {
         font-size: 18px;
         line-height: math.div(26, 18);
      }
   }
   &__slider {
      width: 594px;
      height: 430px!important;
      @media (max-width: em(1215)) {
          width: 100%;
          height: 335px!important;
          margin-left: 0!important;
      }
      @media (max-width: em(480)) {
         height: 250px!important;
      }
      @media (max-width: em(370)) {
         height: 200px!important;
      }
   }
   &__slide {
      width: auto;
   }
   &__image {
      text-align: center!important;
      img {
         max-width: 100%!important;
      }
   }
   &__mini-slider {

   }
   &__mini-slide {
      opacity: 0.2;
      transition: opacity .9s ease!important;
   }
   &__mini-slide.swiper-slide-thumb-active {
      opacity: 1;
   }
   &__mini-image {
      position: relative;
      padding-bottom: 80%;
      cursor: pointer;
      
      @media (max-width: em(1215)) {
         padding-bottom: 60%;
         width: 81px;
      }
      @media (max-width: em(1024)) {
         width: 61px;
      }
      img{
         object-fit: cover;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
   }
   &__next {
      
      &::after {
         color: #fff;
         font-size: 25px!important;
         background: rgba($color: #000000, $alpha: 0.5);
         border: 1px solid transparent;
         border-radius: 31px 0px 0px 31px;
         padding: 17px; 
      }
   }
   &__prev {
      &::after {
         color: #fff;
         font-size: 25px!important;
         background: rgba($color: #000000, $alpha: 0.5);
         border: 1px solid transparent;
         border-radius: 0px 31px 31px 0px;
         padding: 17px; 

      }
   }
   &__prev.swiper-button-disabled{
      background: none;
   }
   &__next.swiper-button-disabled{  
      background: none;
   }
}

.iphk__slider {
   margin-right: 0!important;
   margin-left: 0!important;
   width: 594px!important;
   height: 430px!important;
   @media (max-width: em(1215)) {
      width: 100%!important;
      height: 335px!important;
  }
  @media (max-width: em(480)) {
   height: 250px!important;
}
@media (max-width: em(370)) {
   height: 200px!important;
}

}
.iphk__mini-slide {
      opacity: 0.2;
      transition: opacity .9s ease!important;
   
}

.iphk__mini-slide.swiper-slide-thumb-active {
   opacity: 1;
}
.iphk__mini-image {
   position: relative;
   padding-bottom: 80%;
   cursor: pointer;
   
      @media (max-width: em(1215)) {
         padding-bottom: 60%;
         width: 81px;
      }
      @media (max-width: em(1024)) {
         width: 61px;
      }
   img{
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      
   }
}