.footer {
   margin-bottom: 20px;
   &__top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 60px;
      &:last-child .footer__link:last-child{
         position: relative;
         &::after {
            position: absolute;
            content: url(../images/footer/warning.svg);
            left: -8px;
            top: -15px;
         }
      }
      @media (max-width: ($tablet)) {
         flex-wrap: wrap;
      }
      
   }
   &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      
   }
   &__logo {
      width: 50px;
      height: 50px;
      margin-bottom: 25px;
   }
   &__text {
      color: #c2c2c2;
      font-size: 20px;
      line-height: math.div(30, 20);
      font-weight: 500;
      letter-spacing: 1.5px;
   }
   &__body {
      border-bottom: 1px solid #424242;
      margin-bottom: 32px;
   }
   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__copyrights {
      color: #c2c2c2;
      font-size: 14px;
      line-height: math.div(21, 14);
      font-weight: 500;
      letter-spacing: 1.5px;
      text-transform: uppercase;
   }
   &__warning {
      font-size: 12px;
      line-height: math.div(16, 12);
      letter-spacing: 1.5px;
      font-weight: 500;
      position: relative;
      &::before {
         position: absolute;
         content: url(../images/footer/warning.svg);
         left: -20px;
         top: 8px;
      }
   }
   &__middle-logo {
      width: 100px;
   }
}
