.form {
   padding-top: 100px;
   @media (max-width: ($mobile)) {
      padding: 0;

   }
   background: linear-gradient(to right, #efefef 0%, #fff 100%);
   padding-bottom: 131px;
   &__content {
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      padding: 70px 50px;
      @media (max-width: ($mobile)) {
         padding: 40px 20px;
         border-radius: 0px;
         box-shadow: none;
      }
      border-radius: 40px;
      box-shadow: 0px 35px 0px -16px rgba(0, 0, 0, 0.3);
   }
   &__header {
      display: flex;
      margin-bottom: 51px;
      @media (max-width: ($mobile)) {
         flex-wrap: wrap;
      }
      
   }
   &__title {
      font-weight: 700;
      font-size: 46px;
      line-height: math.div(55, 46);
      color: $primaryWhite;
      margin-right: 33px;
      @media (max-width: ($mobile)) {
         flex-wrap: wrap;
         margin-bottom: 16px;
         margin-right: 0px;
      }
      @media (max-width: ($mobileSmall)) {
         font-size: 34px;
         line-height: math.div(41, 34);
      }
   }
   &__description {
      font-size: 18px;
      font-weight: 500;
      line-height: math.div(27, 18);
      color: #d9d9d9;
      @media (max-width: ($mobileSmall)) {
         font-size: 14px;
         line-height: math.div(21, 14);
      }
   }
   &__item-name {
      flex-basis: 50%;
      @media (max-width: ($mobile)) {
         flex-basis: 100%;
         margin-right: 0px!important;
         margin-bottom: 30px;
      }
      position: relative;
      // display: flex;
      &::before {
         content: url(../images/form/profile.png);
         position: absolute;
         // padding: 15px;
         left: 30px;
         top: 30px;
      }
      &:not(:last-child) {
         margin-right: 30px;
      }
      
   }
   &__item-phone {
      flex-basis: 50%;
      @media (max-width: ($mobile)) {
         flex-basis: 100%;
      }
      position: relative;
      // display: flex;
      &::before {
         position: absolute;
         content: url(../images/form/phone.png);
         left: 25px;
         top: 30px;
      }
      
   }
   &__phone {
     
   }
   &__top {
      display: flex;
      width: 100%;
      margin-bottom: 30px;
      justify-content: space-between;
      @media (max-width: ($mobile)) {
         flex-wrap: wrap;
      }
   }
   &__input {
      &._error {
         box-shadow: 0 0 15px red;
      }
      width: 100%;
      padding: 36px 30px 30px 60px;
      // margin-right: 30px;
      border-radius: 12px;
      &::placeholder {
         color: #c2c2c2;
         font-size: 18px;
      }
   }
   &__center {
      position: relative;
      &::before {
         position: absolute;
         content: url(../images/form/message.png);
         left: 25px;
         top: 40px;
      }
   }
   &__area {
      
      width: 100%;
      padding: 40px 30px 25px 60px;
      border-radius: 12px;
      resize: none;
      margin-bottom: 30px;
      &::placeholder {
         color: #c2c2c2;
         font-size: 18px;
      }
     
   }
   &__control {
      display: flex;
      justify-content: space-between;
      padding: 36px 30px;
      background: #fff;
      border-radius: 12px;
      color: #151515;
      margin-bottom: 30px;
      @media (max-width: ($mobile)) {
         flex-wrap: wrap;
      }
      
   }
   &__text {
      display: flex;
      @media (max-width: ($mobile)) {
         margin-bottom: 10px;
      }
   }
   &__radio {
      
      font-size: 18px;
      line-height: math.div(22, 18);
      letter-spacing: -0.5px;
      color: #c2c2c2;
      span {
         font-size: 13px;
         font-weight: 700;
         margin-left: 3px;
         letter-spacing: 0.5px;
         @media (max-width: ($mobileSmall)) {
            font-size: 10px;
         }
      }
      transition: all .3s linear;
      @media (max-width: ($mobileSmall)) {
         font-size: 14px;
         line-height: math.div(17, 14);
      }
   }
   &__btn {
      padding: 36px 30px;
      @media (max-width: ($mobileSmall)) {
         padding: 24px 20px;
      }
      background: $mainBlue;
      border-radius: 12px;
      color: $primaryWhite;
      text-align: left;
      font-size: 16px;
   }
   &__custom-radio {
      flex-shrink: 0;
      flex-grow: 0;
      width: 22px;
      height: 22px;
      border: 2px solid #c2c2c2;
      border-radius: 50%;
      margin-right: 10px;
      box-sizing: border-box;
      padding: 3px;
      transition: all .3s linear;
      &::after {
         content: "";
         width: 100%;
         height: 100%;
         display: block;
         background-color: $mainBlue;
         border-radius: 50%;
         transform: scale(0);
         transition: all .3s linear;
      }
   }
   
}

input[type='radio'] {
   margin-right: 10px;
   display: none;
}

input[type="radio"]:checked ~ div {
   color: $mainBlue;
}

 input[type="radio"]:checked + .form__custom-radio::after {
   transform: scale(1);
}

input[type="radio"]:checked + .form__custom-radio {
   border: 2px solid $mainBlue;
}

@media (max-width: ($mobile)) {
   .form__container {
      padding: 0;
   }
}