.video-gallery {
   margin-bottom: 150px;

   &__slider {
      
   }
   &__wrapper {
      margin-bottom: 114px;
   }
   &__slide {
      
      @media (max-width: em(440)) {
         text-align: center;
      }
      
   }

   &__video {
      opacity: .5;
      width: 490px;
      height: 490px;
      @media (max-width: ($tablet)) {
         width: 400px;
         height: 400px;
      }
      @media (max-width: ($mobile)) {
         width: 340px;
         height: 340px;
      }
      @media (max-width: ($mobileSmall)) {
         width: 300px;
         height: 300px;
      }
      transition: all .5s ease ;
      &.opacity {
         opacity: 1;
      }
   }

   &__controls {
      display: flex;
      position: absolute;
      top: 20px;
      left: 50px;
      width: 100%;
      @media (max-width: ($mobile)) {
         left: 30px;
      }
      @media (max-width: em(440)) {
         left: 80px;
      }
      @media (max-width: em(386)) {
         left: 50px;
      }
   }

   &__btns {
      visibility: hidden;
      transition: all .5s ease ;
      opacity: 0;
      &.on {
         opacity: 1;
         visibility: visible;
      }
   }

   &__buttons {
      width: 380px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: ($tablet)) {
         width: 310px;
      }
      @media (max-width: ($mobile)) {
         width: 280px;
      }
      @media (max-width: ($mobileSmall)) {
         width: 240px;
      }
   }

   &__playbtn {
     
      cursor: pointer;
      &::before {
         content: url("../video/play.png");
         background: $mainBlue;
         padding: 14px 18px;
         display: grid;
         align-items: center;
         border-radius: 50%;
         animation: pulse 2s infinite ;
      }
     
   }
 
   &__mutebtn {
      position: relative;
      margin-right: 32px;
      cursor: pointer;
      &::before {
          content: url("../video/volume.png");
            
      }
      @media (max-width: ($mobile)) {
         margin-right: 16px;
      }
      @media (max-width: ($mobileSmall)) {
         margin-right: 10px;
      }
      &.muted {
         opacity: .5;
      }
      &.muted .slash {
         opacity: 1;
         &.slash {
            display: block;
         }
         
      }
    }
   
   &__fullscbtn {
      cursor: pointer;
      &::before {
         content: url("../video/screen.png");
           
     }
   }
   
}
@keyframes pulse {
   0% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(99, 152, 255, 0.7);
   }
   
   70% {
      transform: scale(1);
      box-shadow: 0 0 0 15px rgba(99, 152, 255, 0);
   }

   100% {
      transform: scale(0.9);
   }

}

@keyframes pulse2 {
   0% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(25, 27, 31, 0.7);
   }
   
   70% {
      transform: scale(1);
      box-shadow: 0 0 0 15px rgba(25, 27, 31, 0);
   }

   100% {
      transform: scale(0.9);
   }

}

.slash {
   position: absolute;
   width: 2px;
   height: 130%;
   top: -5px;
   left: 13px;
   background: #fff;
   transform: rotate(-50deg);
   display: none;
}
.play::before {
   content: url("../video/play.png");
   background: $mainBlue;
   padding: 14px 18px;
   display: grid;
   align-items: center;
   border-radius: 50%;
   animation: pulse 2s infinite ;
   
   
}
.pause::before {
   content: url("../video/pause.png");
   background: $mainColor;
   padding: 14px 20px;
   display: grid;
   align-items: center;
   border-radius: 50%;
   animation: pulse2 2s infinite ;
   transition: content .5s ease;

}