

.image-gallery {
   margin-bottom: 100px;
   &__slider {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      
   }

   @media (max-width:$mobile) {
      &__image {
         width: 150px;
         height: 200px;
      }
      &__after {
         img {
            width: 150px;
            height: 200px;
         }
      }
   }

  
   

   &__wrapper {
      margin: 190px 0px;
      display: grid!important;
      grid-template-columns: repeat(13, auto)!important;
      column-gap: 120px;
   }
   &__slide {
      position: relative;
      margin-right: 40px!important;
      margin-bottom: 200px;
   }
   

   &__after {
      position: absolute!important;
      top: 185px;
      left: 195px;
      z-index: 5;
      @media (max-width:$mobile) {
         top: 105px;
         left: 110px;
      }
   }
   
}

.swiper-scrollbar-drag {
   cursor: pointer;
   background: url('../images/gallery/dragger.png')!important;
   background-repeat: no-repeat!important;
   background-size: 100% auto!important;
   background-position: center!important;
    &::after {
       display: none!important;
   }
}



.swiper-scrollbar {
   left: 50%!important;
   top: 50%!important;
   transform: translate(-50%,-50%);
   background: #242424!important;
}

.swiper-grid-column>.swiper-wrapper {
   flex-direction: row!important;
   
}

.swiper-grid>.swiper-wrapper {
   flex-wrap: wrap;
}


.swiper-scrollbar-horizontal {
   position: relative!important;
   left: 1%;
   bottom: 3px;
   z-index: 50;
   height: 5px;
   width: 58%!important;
}


.more-image {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 191px;
   &__text {
      color: #424242;
      margin-right: 15px;
   }
   &__instagram {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #242424;
      border-radius: 500px;
      padding: 11px 10px;
      position: relative;
      &::before {
         content: url(../images/gallery/gallery-image/notice.png);
         position: absolute;
         left: -7px;
         top: -13px;
      }
   }
   &__logo {
      margin-right: 10px;
   }
}

.scissors {
   position: absolute;
}