.header {
   margin-bottom: 134px;
   @media (max-width: ($mobile)) {
      margin-bottom: 75px;
   }
   @media (min-width:$mobile) {
      &__hidden {
         position: fixed;
         width: 100%;
         left: 0;
         top: -100%;
         background-color: rgba(0, 0, 0, 0.9);
         transition: top .5s ease;
         z-index: 100;
      }
      
      &__icon {
         display: none;
      }
   
      &__container {
         display: flex;
         justify-content: space-between;
         padding: rem(15) 0;
      }
     &__img {
      width: 100px;
      height: 60px;
     }
     .menu {
      display: flex;

      &__social {
         display: none;
      }
   
      &__body {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: rem(24);
         @media (max-width: em(1052)) {
            gap: rem(2);
         }
         
      }
      &__link {
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         font-size: 14px;
         color: $secondaryGrey;
         transition: color .2s linear;
         &:hover {
            color: #fff;
         }
      }
     
      }
     &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      
    
     }
     &__button {
      border: 1.2px solid #fff;
      border-radius: 40px;
      padding: rem(14) rem(20);
      color: $primaryWhite;
      font-size: 14px;
      transition: background .2s linear;
      &:hover {
         background: $mainBlue;
      }
      
     
   }
  }
   @media (max-width:$mobile) {
   &__img {
      display: none;
   }

   &__icons {
      background-color: #141414;
      border-radius: 50%;
      padding: 10px 10px 10px 10px;
      margin-right: 15px;
      transition: all .4s ease;
      &.active {
         background-color: #FFF;
         z-index: 999;
         padding: 10px 10px 10px 13px;
      }

   }

   &__icon {
      
      z-index: 5;
      display: block;
      position: relative;
      width: 28px;
      height: 26px;
      cursor: pointer;
      &.active span {
         transform: scale(0) translate(0px, -50%);
         background: #141414;
      }
      &.active::before {
         top: 45%;
         transform: rotate(-45deg) translate(0px, -50%);
         background: #141414;
      }
      &.active::after {
         bottom: 50%;
         transform: rotate(45deg) translate(0px, 50%);
         background: #141414;
      }
      &::before, &::after {
         content: "";
         left: 0;
         position: absolute;
         height: 20%;
         width: 100%;
         transition: all .3s ease;
         background: #fff;
         border-radius: 20px;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      span {
         left: 0;
         position: absolute;
         height: 20%;
         width: 100%;
         transition: all .3s ease;
         background: #fff;
         top: 50%;
         transform: scale(1) translate(0px, -50%);
         border-radius: 20px;
      }
   }
   &__hidden {
      position: fixed;
      width: 100%;
      left: 0;
      top: -100%;
      transition: top .5s ease;
      z-index: 100;
   }
   &__container {
      padding: rem(15) 0;
      display: flex;
      justify-content: flex-end;
   }

   .menu.active {
      left: 0;
   }
   .menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: #141414;
      padding: 100px 30px 30px 30px;
      @media (max-width:$mobileSmall) {
         padding: 50px 30px 30px 30px;
      }
      transition: left .3s ease;
      overflow: auto;

     

      
      &__item {
         padding-bottom: 30px;
         margin-bottom: 30px;
         border-bottom: 1px solid #424242;
      }
      &__link {
         font-size: 40px;
         line-height: math.div(48, 40);
         font-weight: 700;
         letter-spacing: 1px;
         @media (max-width:$mobileSmall) {
            font-size: 22px;
            line-height: math.div(28, 20);
            font-weight: 700;
            letter-spacing: 1px
         }
         
      }
      &__body {
         margin-bottom: 100px;
         @media (max-width:$mobileSmall) {
            margin-bottom: 50px;
         }
      }

     &__social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      img{
         width: 80px;
         @media (max-width:$mobileSmall) {
            width: 40px;
         }
      }
     }
      
      
   }
   
   &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
      @media (max-width:$mobileSmall) {
         margin-bottom: 50px;
      }
    
     }
     &__button {
      border: 1.2px solid #fff;
      border-radius: 40px;
      padding: rem(25) rem(27);
      color: $primaryWhite;
      font-size: 36px;
      transition: background .2s linear;
      &:hover {
         background: $mainBlue;
      }
      
      @media (max-width:$mobileSmall) {
         font-size: 17px;
         line-height: math.div(28, 20);
         letter-spacing: 1px;
         padding: rem(15) rem(18);
      }
     
   }

 }

  &__visible {
   padding-top: 25px;
   
   &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 107px;
   }
   &-link {
      @media (max-width: ($mobileSmall)) {
         img {
            width: 30px;
         }
      }
      
      
   }
   &-body {
      display: flex;
      align-items: center;
      @media (max-width: ($mobile)) {
         flex-direction: column;
      }
   }
   &-social {
      display: flex;
      gap: rem(30);
      margin-right: 70px;
      @media (max-width: ($mobile)) {
         gap: rem(15);
         margin-right: 0px;
         margin-bottom: 20px;
      }
   }
   &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &-button {
      border: 1.2px solid #fff;
      border-radius: 40px;
      padding: rem(18) rem(20);
      color: $primaryWhite;
      font-size: 14px;
      @media (max-width: ($mobileSmall)) {
         font-size: 12px;
         padding: rem(18) rem(15);
      }
   }
   &-img {
      width: 120px;
      height: 68px;
      @media (max-width: ($mobileSmall)) {
         width: 95px;
         height: 62px;
      }
   }
  }
  
}
.__show {
   top: 0;
}

// .header__icon.active span {
//    transform: scale(0);
// }