.page__map {
   margin-bottom: 60px;
}

#map {
   height: 800px;
}

[class*="ymaps"][class*="-ground-pane"] {
   filter: hue-rotate(45deg) invert(100%) grayscale(1);
	-ms-filter: hue-rotate(45deg);
	-webkit-filter: hue-rotate(170deg) invert(100%) grayscale(0.7);
	-moz-filter: invert(70%);
	-o-filter: invert(70%);
}

.ymaps-2-1-79-balloon__layout {
   border: 4px solid $mainBlue;
   border-radius: 0px 30px 30px 0px;
}