.offer {
   position: relative;
   &__video {
      width: 100%;
   }
   &__top {
      position: absolute;
      left: 0;
      top: -40px;
      z-index: 10;
      white-space: nowrap;
      @media (max-width: em(1272)) {
         top: -20px;
      }
      @media (max-width: ($mobile)) {
         top: -10px;
      }
      @media (max-width: ($mobileSmall)) {
         top: -1px;
      }
   }
   &__bottom {
      position: absolute;
      left: 0;
      bottom: -7px;
      z-index: 10;
      white-space: nowrap;
      @media (max-width: ($mobile)) {
         bottom: -5px;
      }
      @media (max-width: ($mobileSmall)) {
         bottom: 1px;
      }
   }

   &__right-text {
      -webkit-animation: rmove 60s linear infinite; /* Safari 4.0 - 8.0 */
         white-space: nowrap;
         animation: rmove 40s linear  infinite;
         font-size: 138px;
         font-weight: 700;
         color: transparent;
         -webkit-text-stroke: 3px $secondaryGrey;
         text-align: center;
         // line-height: math.div(97.2, 81);
         letter-spacing: 35px;
         // margin-bottom: 60px;
         font-family: Arial, Helvetica, sans-serif;
         position: relative;
         z-index: 0;
         text-transform: uppercase;
         @media (max-width: em(1272)) {
            font-size: 101px;
         }
         @media (max-width: ($mobileSmall)) {
            -webkit-text-stroke: 1px $secondaryGrey;
         }
         @media (max-width: ($tablet)) {
            font-size: 81px;
         }
         @media (max-width: ($mobile)) {
            font-size: 48px;
            -webkit-text-stroke: 2px $secondaryGrey;
         }
         @media (max-width: ($mobileSmall)) {
            font-size: 28px;
            -webkit-text-stroke: 1px $secondaryGrey;
         }
   }
   &__left-text {
      -webkit-animation: lmove 60s linear infinite; /* Safari 4.0 - 8.0 */
         white-space: nowrap;
         animation: lmove 40s linear  infinite;
         font-size: 158px;
         font-weight: 700;
         color: transparent;
         -webkit-text-stroke: 3px $secondaryGrey;
         text-align: center;
         // line-height: math.div(97.2, 81);
         letter-spacing: 35px;
         // margin-bottom: 80px;
         font-family: Arial, Helvetica, sans-serif;
         position: relative;
         z-index: 0;
         @media (max-width: em(1272)) {
            font-size: 101px;
         }
         @media (max-width: ($mobileSmall)) {
            -webkit-text-stroke: 1px $secondaryGrey;
            
         }
         @media (max-width: ($tablet)) {
            font-size: 81px;
         }
         @media (max-width: ($mobile)) {
            font-size: 48px;
            -webkit-text-stroke: 2px $secondaryGrey;
         }
         @media (max-width: ($mobileSmall)) {
            font-size: 28px;
            -webkit-text-stroke: 1px $secondaryGrey;
         }
   }

   &__center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: $primaryWhite;
      color: #151515;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // width: 594px;
      padding: 100px 45px 45px 45px;
      @media (max-width: em(1350)) {
         padding: 60px 35px 35px 35px;
      }
      @media (max-width: em(1272)) {
         padding: 45px 25px 25px 25px;
      }
      @media (max-width: em(928)) {
         top: 35%;
         left: 40%;
         scale: 0.6;
         width: 450px;
      }
      @media (max-width: em(630)) {
         scale: 0.4;
         top: 10%;
         left: 25%;
         // width: 100%;
      }
      @media (max-width: em(500)) {
         scale: 0.4;
         top: 10%;
         left: 25%;
         @include adaptiveValue("left", 25%, 5%)
      }
   }
   &__title {
      position: relative;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      text-align: left;
      font-weight: 700;
      font-size: 36px;
      line-height: math.div(36, 24);
      letter-spacing: 2%;
      margin-bottom: 30px;
      @media (max-width: em(1272)) {
         font-size: 28px;
         margin-bottom: 20px;
      }
      @media (max-width: ($tablet)) {
         font-size: 20px;
         line-height: math.div(26, 20);
      }
      @media (max-width: em(455)) {
         margin-bottom: 10px;
      }
      
   }
   &__button {
      position: relative;
   }
   &__close {
      position: absolute;
      right: -15px;
      top: -75px;
      @media (max-width: em(1350)) {
         top: -45px;
      }
      @media (max-width: em(1272)) {
         top: -35px;
      }
   }

   &__subtitle {
      color: $mainBlue;
      text-align: center;
   }
   &__list {
      margin-left: 30px;
      margin-bottom: 30px;
      @media (max-width: em(455)) {
         margin-bottom: 10px;
      }
   }
   &__item {
      font-size: 16px;
      list-style: disc;
      line-height: math.div(34, 16);
      font-weight: 500;
      @media (max-width: em(1350)) {
         font-size: 14px;
         line-height: math.div(30, 14);
      }
      @media (max-width: em(455)) {
         line-height: math.div(24, 16);
      }
      
   }
   &__btn {
      padding: 20px 40px;
      background: $mainBlue;
      border-radius: 48px;
      color: $primaryWhite;
      font-size: 18px;
      // line-height: math.div(22, 18);
      letter-spacing: 2%;
      font-weight: 500;
      cursor: pointer;
      text-align: center;
      @media (max-width: em(1350)) {
         font-size: 16px;
         padding: 15px 20px;
      }
   }
   &__img {
      width: 30px;
   }
}

.close-popup {
   display: none;
}


@-webkit-keyframes lmove {
   from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
 }

 @-webkit-keyframes rmove {
   from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
 }
 