.qualification {
   margin-top: -352px;
   background:linear-gradient(#EFEFEF 0% #FFF 100%) ;
   &__title {
      padding: 100px 0px 40px 0px;
      color: $mainColor;
      font-size: 40px;
      line-height: math.div(48, 40);
      font-weight: 700;
   }
   &__body {
      display: flex;
   }
   &__content {
      background: $mainColor;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 1 25%;
      font-size: 14px;
      min-height: 340px;
      &:not(:last-child) {
         margin-right: 30px;
      }
   }
   &__list {
      margin-left: 10px;
      padding: 20px 20px 0px 20px;
   }
   &__item {
      list-style: disc;
      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }
   &__date{
      font-size: 98px;
      line-height: math.div(117, 98);
      margin-left: -20px;
      opacity: 5%;
      font-weight: 700;
   }
}
.bottom-qualification {
   &__body {
      display: flex;
      @media (max-width: em(1000)) {
         flex-wrap: wrap;
      }
   }
   &__associate {
      // margin-right: 92px;
      
   }
   &__item {
      display: flex;
      text-align: center;
      
      
      &:not(:last-child) {
         margin-bottom: 25px;
      }
      
   }
   &__text {
      font-size: 20px;
      color: #151515;
      line-height: math.div(30, 20);
      text-align: left;
   }
   &__circle {
      margin-right: 15px;
      min-width: 44px;
      height: 44px;
      background: #D9D9D9;
      border-radius: 50%;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 22px;
         height: 22px;
         background: #151515;
         border-radius: 50%;
      }
      &::after {content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 10px;
         height: 10px;
         background: #d9d9d9;
         border-radius: 50%;
      } 
   }
}

.qualification-slider {
   position: relative!important;
   &__swiper {
      
      width: 520px;
   	height: 250px;
      background-color: #eaeaea;
      @media (max-width: em(1000)) {
         width: 920px;
      }
      
   }
   &__slide {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      
      
      color: #fff;
      @media (max-width: em(1000)) {
         width: 200px!important;
         margin: 0!important;
      }
   }
   &__image {
      max-width: 100%;
      border: 1px solid $mainBlue;
     
   }
   &__btn{
      position: relative;
   }
   &__next {
      position: absolute!important;
      top: 272px!important;
      z-index: 9!important;
      left: 89px!important;
      background: url('../images/qualification/right-ar.png');
     
      background-color: $mainBlue;
      width: 89px!important;
      height: 70px!important;
      cursor: pointer!important;
      background-repeat: no-repeat;
      background-size: 60% auto;
      background-position: center;
      &::after {
         display: none;
      }
   }
   &__prev {
      position: absolute!important;
      top: 272px!important;
      z-index: 9!important;
      left: 0px!important;
      background: url('../images/qualification/left-ar.png');
      background-repeat: no-repeat;
      background-size: 60% auto;
      background-position: center;
      background-color: $mainBlue;
      width: 89px!important;
      height: 70px!important;
      &::after {
         display: none;
      }
   }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
   background-color: #FFF;
   opacity: 1!important;
}
