.review {
   margin-bottom: 140px;
   &__profile {
      margin-right: 10px;
      
   }
   &__body {
     display: grid;
     column-gap: 20px;
     row-gap: 30px;
     grid-template-columns: repeat(2, 1fr);  
     grid-auto-rows: repeat(2, minmax(200px, auto)); 
     align-items: start; 
     @media (max-width: ($mobile)) {
      grid-template-columns: repeat(1, 1fr);  
      align-items: center;
      justify-content: center;
     }
   }
   &__content {
      display: flex;
      @media (max-width: ($tablet)) {
         flex-wrap: wrap;
      }
      @media (max-width: ($mobile)) {
         justify-content: center;
         align-items: center;
      }
   }
   &__profile {
      @media (max-width: ($tablet)) {
         margin-bottom: 10px;
      }
   }
   &__comment {
      display: flex;
      flex-direction: column;
      border: 2px solid #2b2b2b;
      border-radius: 0px 50px 50px 50px;
      padding: 30px;
   }
   &__title {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 20px;
      line-height: math.div(29, 24);
      @media (max-width: ($mobileSmall)) {
         font-size: 18px;
         line-height: math.div(22, 18);
      }
     
   }
   &__text {
      font-size: 18px;
      line-height: math.div(27, 18);
      @media (max-width: ($mobileSmall)) {
         font-size: 14px;
         line-height: math.div(21, 14);
      }
   }
   &__feedback {
      font-size: 14px;
      text-transform: uppercase;
      color: #d9d9d9;
      margin-right: 15px;
      
   }
   &__top {
      border-bottom: 2px solid #2b2b2b;
      padding-bottom: 20px;
      margin-bottom: 20px;
      
   }
   &__btn {
      color: $mainBlue;
   }
   &__more {
      
   }
}
#more {
   display: none;
}

// .collapsed {
//    max-height: 300px;
// }