.services {
   background: $primaryWhite;
   color: #151515;
   padding-bottom: 130px;
   &__title {
      font-size: 76px;
      color: #eaeaea;
      text-transform: uppercase;
      line-height: math.div(91, 76);
      letter-spacing: 7px;
      font-weight: 700;
      padding-top: 100px;
      padding-bottom: 40px;
      text-align: center;
      @media (max-width: ($tablet)) {
         font-size: 50px;
         line-height: math.div(62, 50);
      }
      @media (max-width: ($mobile)) {
         font-size: 40px;
         line-height: math.div(48, 40);
      }
      @media (max-width: ($mobileSmall)) {
         font-size: 24px;
         line-height: math.div(36, 24);
      }
   }
   &__body {
      display: flex;
      justify-content: space-between;
      @media (max-width: ($mobile)) {
         flex-wrap: wrap-reverse;
      }
   }
   &__operations {
      margin-top: 30px;
      display: none;
      opacity: 0;
      visibility: 0;
   }
   &__operations-active {
      display: block;
      opacity: 1;
      visibility: visible;
      animation: fade 2s ease-in-out;
      
   }
   &__operation {
      font-weight: 700;
      font-size: 40px;
      line-height: math.div(48, 40);
      letter-spacing: 2px;
      margin-bottom: 30px;
      @media (max-width: ($mobileSmall)) {
         font-size: 30px;
         line-height: math.div(40, 30);
      }
   }
   &__item {
      list-style: disc;
      font-weight: 500;
      font-size: 20px;
      line-height: math.div(30, 20);
      letter-spacing: 1px;
     
      &:not(:last-child){
         margin-bottom: 15px;
      }
      @media (max-width: ($mobileSmall)) {
         font-size: 18px;
         line-height: math.div(27, 18);
         margin-left: 8px;
      }
   }
   &__other {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }
   &__header {
      font-weight: 500;
      font-size: 20px;
      line-height: math.div(24, 20);
      color: #c2c2c2;
      margin-bottom: 20px;
      margin-right: 10px;
      @media (max-width: ($mobileSmall)) {
         font-size: 18px;
         line-height: math.div(24, 18);
      }

   }
   &__designation {
      width: 100%;
      text-align: left;
      font-weight: 700;
      font-size: 30px;
      line-height: math.div(48, 40);
      letter-spacing: 2px;
      margin-bottom: 10px;
      border-bottom: 1px solid #c2c2c2;
      padding: 15px 0px 15px 0px;
      @media (max-width: ($mobileSmall)) {
         font-size: 21px;
         line-height: math.div(30, 24);
      }
   }
   &__designation-active {
      transition: all .3s ease-in;
      color: $mainBlue;
   }
}

@keyframes fade {
   0% {
       opacity: 0;
   }
}