@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #151515;
  line-height: 1;
  font-family: "Montserrat";
  font-size: rem(18);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
  background-color: #141414;
  color: #fff;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 76.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.header {
  margin-bottom: 134px;
}
@media (max-width: 47.99875em) {
  .header {
    margin-bottom: 75px;
  }
}
@media (min-width: 47.99875em) {
  .header__hidden {
    position: fixed;
    width: 100%;
    left: 0;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: top 0.5s ease;
    transition: top 0.5s ease;
    z-index: 100;
  }
  .header__icon {
    display: none;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.9375rem 0;
  }
  .header__img {
    width: 100px;
    height: 60px;
  }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .menu__social {
    display: none;
  }
  .header .menu__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 65.75em) {
  .header .menu__body {
    gap: 0.125rem;
  }
}
@media (min-width: 47.99875em) {
  .header .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 14px;
    color: #c2c2c2;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }
  .header .menu__link:hover {
    color: #fff;
  }
}
@media (min-width: 47.99875em) {
  .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 47.99875em) {
  .header__button {
    border: 1.2px solid #fff;
    border-radius: 40px;
    padding: 0.875rem 1.25rem;
    color: #fff;
    font-size: 14px;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }
  .header__button:hover {
    background: #6398FF;
  }
}
@media (max-width: 47.99875em) {
  .header__img {
    display: none;
  }
  .header__icons {
    background-color: #141414;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    margin-right: 15px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .header__icons.active {
    background-color: #FFF;
    z-index: 999;
    padding: 10px 10px 10px 13px;
  }
  .header__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 28px;
    height: 26px;
    cursor: pointer;
  }
  .header__icon.active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
    background: #141414;
  }
  .header__icon.active::before {
    top: 45%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
    background: #141414;
  }
  .header__icon.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
    background: #141414;
  }
  .header__icon::before, .header__icon::after {
    content: "";
    left: 0;
    position: absolute;
    height: 20%;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #fff;
    border-radius: 20px;
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    left: 0;
    position: absolute;
    height: 20%;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #fff;
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
    border-radius: 20px;
  }
  .header__hidden {
    position: fixed;
    width: 100%;
    left: 0;
    top: -100%;
    -webkit-transition: top 0.5s ease;
    transition: top 0.5s ease;
    z-index: 100;
  }
  .header__container {
    padding: 0.9375rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .menu.active {
    left: 0;
  }
  .header .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #141414;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    overflow: auto;
  }
}
@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .header .menu {
    padding: 50px 30px 30px 30px;
  }
}
@media (max-width: 47.99875em) {
  .header .menu__item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #424242;
  }
}
@media (max-width: 47.99875em) {
  .header .menu__link {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .header .menu__link {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
@media (max-width: 47.99875em) {
  .header .menu__body {
    margin-bottom: 100px;
  }
}
@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .header .menu__body {
    margin-bottom: 50px;
  }
}
@media (max-width: 47.99875em) {
  .header .menu__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .header .menu__social img {
    width: 80px;
  }
}
@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .header .menu__social img {
    width: 40px;
  }
}
@media (max-width: 47.99875em) {
  .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }
}
@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .header__btn {
    margin-bottom: 50px;
  }
}
@media (max-width: 47.99875em) {
  .header__button {
    border: 1.2px solid #fff;
    border-radius: 40px;
    padding: 1.5625rem 1.6875rem;
    color: #fff;
    font-size: 36px;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }
  .header__button:hover {
    background: #6398FF;
  }
}
@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .header__button {
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: 1px;
    padding: 0.9375rem 1.125rem;
  }
}
.header__visible {
  padding-top: 25px;
}
.header__visible-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 107px;
}
@media (max-width: 29.99875em) {
  .header__visible-link img {
    width: 30px;
  }
}
.header__visible-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 47.99875em) {
  .header__visible-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__visible-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  margin-right: 70px;
}
@media (max-width: 47.99875em) {
  .header__visible-social {
    gap: 0.9375rem;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.header__visible-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__visible-button {
  border: 1.2px solid #fff;
  border-radius: 40px;
  padding: 1.125rem 1.25rem;
  color: #fff;
  font-size: 14px;
}
@media (max-width: 29.99875em) {
  .header__visible-button {
    font-size: 12px;
    padding: 1.125rem 0.9375rem;
  }
}
.header__visible-img {
  width: 120px;
  height: 68px;
}
@media (max-width: 29.99875em) {
  .header__visible-img {
    width: 95px;
    height: 62px;
  }
}

.__show {
  top: 0;
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 47.99875em) {
  .main-block__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 47.99875em) {
  .main-block__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.main-block__title {
  font-size: 81px;
  letter-spacing: 20%;
  line-height: 1.1975308642;
  margin-bottom: 50px;
}
@media (max-width: 47.99875em) {
  .main-block__title {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}
@media (max-width: 29.99875em) {
  .main-block__title {
    font-size: 32px;
  }
}
.main-block__list {
  margin-left: 10px;
}
.main-block__item {
  font-size: 18px;
  line-height: 1.8888888889;
  list-style: disc;
}
.main-block__item span {
  font-size: 12px;
}
.main-block__item:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 29.99875em) {
  .main-block__item {
    font-size: 20px;
    margin-left: 20px;
    line-height: 1.3333333333;
  }
}
@media (max-width: 47.99875em) {
  .main-block__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .main-block__image {
    width: 338px;
    height: 704px;
  }
}

.about {
  padding-bottom: 100px;
  background: #fff;
}
.about__halfimg {
  position: relative;
}
.about__half-image {
  position: absolute;
  left: 0px;
  top: -250px;
  max-width: 100%;
  width: 470px;
  height: 385px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 47.99875em) {
  .about__half-image {
    width: 728px;
    height: 402px;
    top: -50px;
  }
}
@media (max-width: 29.99875em) {
  .about__half-image {
    width: 440px;
    height: 355px;
  }
}
.about__title {
  font-size: 81px;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 3px #c2c2c2;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 35px;
  margin-bottom: 80px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 50;
}
@media (max-width: 47.99875em) {
  .about__title {
    font-size: 52px;
    line-height: 1.203125;
    letter-spacing: 10px;
    -webkit-text-stroke: 2px #c2c2c2;
  }
}
@media (max-width: 29.99875em) {
  .about__title {
    font-size: 26px;
    line-height: 1.4230769231;
    -webkit-text-stroke: 2px #c2c2c2;
  }
}
.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #151515;
}
@media (max-width: 47.99875em) {
  .about__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.about__text {
  margin-bottom: 60px;
}
.about__subtitle {
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 2px;
}
.about__description {
  font-weight: 0;
  font-size: 20px;
  line-height: 1.5;
}
.about__description:not(:last-child) {
  margin-bottom: 20px;
}
.about__image {
  width: 386px;
  height: 607px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 45% 100%;
     object-position: 45% 100%;
}
@media (max-width: 61.99875em) {
  .about__image {
    max-width: 100%;
    width: 450px;
    -o-object-position: 55% 100%;
       object-position: 55% 100%;
  }
}
@media (max-width: 47.99875em) {
  .about__image {
    width: 728px;
    max-width: 100%;
  }
}
@media (max-width: 29.99875em) {
  .about__image {
    max-width: 100%;
    width: 440px;
    -o-object-position: 65% 100%;
       object-position: 65% 100%;
  }
}
@media (max-width: 23.75em) {
  .about__image {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
  }
}

[data-scroll] {
  -webkit-transition: all 3s;
  transition: all 3s;
}

[data-scroll=in] {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

[data-scroll=out] {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.qualification {
  margin-top: -352px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF));
  background: linear-gradient(#EFEFEF 0% #FFF 100%);
}
.qualification__title {
  padding: 100px 0px 40px 0px;
  color: #151515;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}
.qualification__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 61.99875em) {
  .qualification__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.qualification__content {
  background: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 304.5px;
          flex: 0 0 304.5px;
  font-size: 14px;
  min-height: 340px;
  margin-right: 30px;
}
@media (max-width: 61.99875em) {
  .qualification__content {
    margin-bottom: 16px;
  }
}
@media (max-width: 29.99875em) {
  .qualification__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}
.qualification__content:not(:last-child) {
  margin-right: 30px;
}
.qualification__list {
  margin-left: 10px;
  padding: 20px 20px 0px 20px;
}
.qualification__item {
  list-style: disc;
}
.qualification__item:not(:last-child) {
  margin-bottom: 15px;
}
.qualification__date {
  font-size: 97px;
  line-height: 1.193877551;
  margin-left: -20px;
  opacity: 5%;
  font-weight: 700;
}

.bottom-qualification__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 75em) {
  .bottom-qualification__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.bottom-qualification__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.bottom-qualification__item:not(:last-child) {
  margin-bottom: 25px;
}
.bottom-qualification__text {
  font-size: 20px;
  color: #151515;
  line-height: 1.5;
  text-align: left;
}
.bottom-qualification__circle {
  margin-right: 15px;
  min-width: 44px;
  height: 44px;
  background: #D9D9D9;
  border-radius: 50%;
  position: relative;
}
.bottom-qualification__circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  background: #151515;
  border-radius: 50%;
}
.bottom-qualification__circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #d9d9d9;
  border-radius: 50%;
}

.qualification-slider {
  position: relative !important;
}
.qualification-slider__swiper {
  width: 520px;
  height: 250px;
  background-color: #eaeaea;
}
@media (max-width: 62.5em) {
  .qualification-slider__swiper {
    width: 930px;
    height: 450px;
  }
}
.qualification-slider__slide {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
@media (max-width: 62.5em) {
  .qualification-slider__slide {
    width: 300px !important;
    margin: 0 !important;
    padding: 0px 0px !important;
    margin-right: 50px !important;
  }
}
.qualification-slider__image {
  max-width: 100%;
  border: 3px solid #6398FF;
}
.qualification-slider__btn {
  position: relative;
}
.qualification-slider__next {
  position: absolute !important;
  top: 272px !important;
  z-index: 9 !important;
  left: 89px !important;
  background: url("../images/qualification/right-ar.png");
  background-color: #6398FF;
  width: 89px !important;
  height: 70px !important;
  cursor: pointer !important;
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
}
.qualification-slider__next::after {
  display: none;
}
@media (max-width: 62.5em) {
  .qualification-slider__next {
    top: 472px !important;
    z-index: 9 !important;
    left: 89px !important;
  }
}
.qualification-slider__prev {
  position: absolute !important;
  top: 272px !important;
  z-index: 9 !important;
  left: 0px !important;
  background: url("../images/qualification/left-ar.png");
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
  background-color: #6398FF;
  width: 89px !important;
  height: 70px !important;
}
.qualification-slider__prev::after {
  display: none;
}
@media (max-width: 62.5em) {
  .qualification-slider__prev {
    top: 472px !important;
    z-index: 9 !important;
    left: 0px !important;
  }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  background-color: #FFF;
  opacity: 1 !important;
}

.image-gallery {
  margin-bottom: 100px;
}
.image-gallery__slider {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 47.99875em) {
  .image-gallery__image {
    width: 150px;
    height: 200px;
  }
  .image-gallery__after img {
    width: 150px;
    height: 200px;
  }
}
.image-gallery__wrapper {
  margin: 190px 0px;
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: auto 120px auto 120px auto 120px auto 120px auto 120px auto 120px auto 120px auto 120px auto 120px auto 120px auto 120px auto 120px auto !important;
  grid-template-columns: repeat(13, auto) !important;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
}
.image-gallery__slide {
  position: relative;
  margin-right: 40px !important;
  margin-bottom: 200px;
}
.image-gallery__after {
  position: absolute !important;
  top: 185px;
  left: 195px;
  z-index: 5;
}
@media (max-width: 47.99875em) {
  .image-gallery__after {
    top: 105px;
    left: 110px;
  }
}

.swiper-scrollbar-drag {
  cursor: pointer;
  background: url("../images/gallery/dragger.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  background-position: center !important;
}
.swiper-scrollbar-drag::after {
  display: none !important;
}

.swiper-scrollbar {
  left: 50% !important;
  top: 50% !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #242424 !important;
}

.swiper-grid-column > .swiper-wrapper {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-scrollbar-horizontal {
  position: relative !important;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 58% !important;
}

.more-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 191px;
}
.more-image__text {
  color: #424242;
  margin-right: 15px;
}
.more-image__instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #242424;
  border-radius: 500px;
  padding: 11px 10px;
  position: relative;
}
.more-image__instagram::before {
  content: url(../images/gallery/gallery-image/notice.png);
  position: absolute;
  left: -7px;
  top: -13px;
}
.more-image__logo {
  margin-right: 10px;
}

.scissors {
  position: absolute;
}

.video-gallery {
  margin-bottom: 150px;
}
.video-gallery__wrapper {
  margin-bottom: 114px;
}
.video-gallery__slide {
  position: relative !important;
}
.video-gallery__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute !important;
  top: 20px;
  left: 50px;
  width: 100%;
}
.video-gallery__buttons {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video-gallery__playbtn {
  cursor: pointer;
}
.video-gallery__playbtn::before {
  content: url("../video/play.png");
  background: #6398FF;
  padding: 14px 18px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: all 2s linear 3s;
  transition: all 2s linear 3s;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
.video-gallery__mutebtn {
  margin-right: 32px;
  cursor: pointer;
}
.video-gallery__mutebtn::before {
  content: url("../video/volume.png");
}
.video-gallery__fullscbtn {
  cursor: pointer;
}
.video-gallery__fullscbtn::before {
  content: url("../video/screen.png");
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(99, 152, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(99, 152, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px rgba(99, 152, 255, 0);
            box-shadow: 0 0 0 15px rgba(99, 152, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(99, 152, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(99, 152, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px rgba(99, 152, 255, 0);
            box-shadow: 0 0 0 15px rgba(99, 152, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(25, 27, 31, 0.7);
            box-shadow: 0 0 0 0 rgba(25, 27, 31, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px rgba(25, 27, 31, 0);
            box-shadow: 0 0 0 15px rgba(25, 27, 31, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes pulse2 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(25, 27, 31, 0.7);
            box-shadow: 0 0 0 0 rgba(25, 27, 31, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px rgba(25, 27, 31, 0);
            box-shadow: 0 0 0 15px rgba(25, 27, 31, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
.play::before {
  content: url("../video/play.png");
  background: #6398FF;
  padding: 14px 18px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.pause::before {
  content: url("../video/pause.png");
  background: #151515;
  padding: 14px 20px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-animation: pulse2 2s infinite;
          animation: pulse2 2s infinite;
}

.review {
  margin-bottom: 140px;
}
.review__profile {
  margin-right: 10px;
}
.review__body {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(2, minmax(200px, auto));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 47.99875em) {
  .review__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 61.99875em) {
  .review__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 47.99875em) {
  .review__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 61.99875em) {
  .review__profile {
    margin-bottom: 10px;
  }
}
.review__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #2b2b2b;
  border-radius: 0px 50px 50px 50px;
  padding: 30px;
}
.review__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.2083333333;
}
@media (max-width: 29.99875em) {
  .review__title {
    font-size: 18px;
    line-height: 1.2222222222;
  }
}
.review__text {
  font-size: 18px;
  border-bottom: 2px solid #2b2b2b;
  padding-bottom: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}
@media (max-width: 29.99875em) {
  .review__text {
    font-size: 14px;
    line-height: 1.5;
  }
}
.review__feedback {
  font-size: 14px;
  text-transform: uppercase;
  color: #d9d9d9;
  margin-right: 15px;
}

.offer {
  position: relative;
}
.offer__video {
  width: 100%;
}
.offer__top {
  position: absolute;
  left: 0;
  top: -40px;
  z-index: 10;
  white-space: nowrap;
}
@media (max-width: 79.5em) {
  .offer__top {
    top: -20px;
  }
}
@media (max-width: 47.99875em) {
  .offer__top {
    top: -10px;
  }
}
@media (max-width: 29.99875em) {
  .offer__top {
    top: -1px;
  }
}
.offer__bottom {
  position: absolute;
  left: 0;
  bottom: -7px;
  z-index: 10;
  white-space: nowrap;
}
@media (max-width: 47.99875em) {
  .offer__bottom {
    bottom: -5px;
  }
}
@media (max-width: 29.99875em) {
  .offer__bottom {
    bottom: 1px;
  }
}
.offer__right-text {
  -webkit-animation: rmove 60s linear infinite;
  /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  -webkit-animation: rmove 40s linear infinite;
          animation: rmove 40s linear infinite;
  font-size: 138px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 3px #c2c2c2;
  text-align: center;
  letter-spacing: 35px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 0;
  text-transform: uppercase;
}
@media (max-width: 79.5em) {
  .offer__right-text {
    font-size: 101px;
  }
}
@media (max-width: 29.99875em) {
  .offer__right-text {
    -webkit-text-stroke: 1px #c2c2c2;
  }
}
@media (max-width: 61.99875em) {
  .offer__right-text {
    font-size: 81px;
  }
}
@media (max-width: 47.99875em) {
  .offer__right-text {
    font-size: 48px;
    -webkit-text-stroke: 2px #c2c2c2;
  }
}
@media (max-width: 29.99875em) {
  .offer__right-text {
    font-size: 28px;
    -webkit-text-stroke: 1px #c2c2c2;
  }
}
.offer__left-text {
  -webkit-animation: lmove 60s linear infinite;
  /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  -webkit-animation: lmove 40s linear infinite;
          animation: lmove 40s linear infinite;
  font-size: 158px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 3px #c2c2c2;
  text-align: center;
  letter-spacing: 35px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 0;
}
@media (max-width: 79.5em) {
  .offer__left-text {
    font-size: 101px;
  }
}
@media (max-width: 29.99875em) {
  .offer__left-text {
    -webkit-text-stroke: 1px #c2c2c2;
  }
}
@media (max-width: 61.99875em) {
  .offer__left-text {
    font-size: 81px;
  }
}
@media (max-width: 47.99875em) {
  .offer__left-text {
    font-size: 48px;
    -webkit-text-stroke: 2px #c2c2c2;
  }
}
@media (max-width: 29.99875em) {
  .offer__left-text {
    font-size: 28px;
    -webkit-text-stroke: 1px #c2c2c2;
  }
}
.offer__center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  color: #151515;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 45px 45px 45px;
}
@media (max-width: 84.375em) {
  .offer__center {
    padding: 60px 35px 35px 35px;
  }
}
@media (max-width: 79.5em) {
  .offer__center {
    padding: 45px 25px 25px 25px;
  }
}
@media (max-width: 58em) {
  .offer__center {
    top: 35%;
    left: 40%;
    scale: 0.6;
    width: 450px;
  }
}
@media (max-width: 39.375em) {
  .offer__center {
    scale: 0.4;
    top: 10%;
    left: 25%;
  }
}
@media (max-width: 31.25em) {
  .offer__center {
    scale: 0.4;
    top: 10%;
    left: 25%;
  }
}
@media (max-width: 31.25em) and (min-width: 78.625em) {
  .offer__center {
    left: 1.5625%rem;
  }
}
@media (max-width: 31.25em) and (min-width: 20em) and (max-width: 78.625em) {
  .offer__center {
    left: calc(0.3125%rem + 1.25% * (((100vw - 20rem)) / ((58.625))));
  }
}
@media (max-width: 31.25em) and (max-width: 20em) {
  .offer__center {
    left: 0.3125%rem;
  }
}
.offer__title {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 2%;
  margin-bottom: 30px;
}
@media (max-width: 79.5em) {
  .offer__title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
@media (max-width: 61.99875em) {
  .offer__title {
    font-size: 20px;
    line-height: 1.3;
  }
}
@media (max-width: 28.4375em) {
  .offer__title {
    margin-bottom: 10px;
  }
}
.offer__button {
  position: relative;
}
.offer__close {
  position: absolute;
  right: -15px;
  top: -75px;
}
@media (max-width: 84.375em) {
  .offer__close {
    top: -45px;
  }
}
@media (max-width: 79.5em) {
  .offer__close {
    top: -35px;
  }
}
.offer__subtitle {
  color: #6398FF;
  text-align: center;
}
.offer__list {
  margin-left: 30px;
  margin-bottom: 30px;
}
@media (max-width: 28.4375em) {
  .offer__list {
    margin-bottom: 10px;
  }
}
.offer__item {
  font-size: 16px;
  list-style: disc;
  line-height: 2.125;
  font-weight: 500;
}
@media (max-width: 84.375em) {
  .offer__item {
    font-size: 14px;
    line-height: 2.1428571429;
  }
}
@media (max-width: 28.4375em) {
  .offer__item {
    line-height: 1.5;
  }
}
.offer__btn {
  padding: 20px 40px;
  background: #6398FF;
  border-radius: 48px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2%;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 84.375em) {
  .offer__btn {
    font-size: 16px;
    padding: 15px 20px;
  }
}
.offer__img {
  width: 30px;
}

.close-popup {
  display: none;
}

@-webkit-keyframes lmove {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes rmove {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.services {
  background: #fff;
  color: #151515;
  padding-bottom: 130px;
}
.services__title {
  font-size: 76px;
  color: #eaeaea;
  text-transform: uppercase;
  line-height: 1.1973684211;
  letter-spacing: 7px;
  font-weight: 700;
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
}
@media (max-width: 61.99875em) {
  .services__title {
    font-size: 50px;
    line-height: 1.24;
  }
}
@media (max-width: 47.99875em) {
  .services__title {
    font-size: 40px;
    line-height: 1.2;
  }
}
@media (max-width: 29.99875em) {
  .services__title {
    font-size: 24px;
    line-height: 1.5;
  }
}
.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .services__body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}
.services__operations {
  margin-top: 30px;
  display: none;
  opacity: 0;
  visibility: 0;
}
.services__operations-active {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-animation: fade 2s ease-in-out;
          animation: fade 2s ease-in-out;
}
.services__operation {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
@media (max-width: 29.99875em) {
  .services__operation {
    font-size: 30px;
    line-height: 1.3333333333;
  }
}
.services__item {
  list-style: disc;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.services__item:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 29.99875em) {
  .services__item {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 8px;
  }
}
.services__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.services__header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #c2c2c2;
  margin-bottom: 20px;
  margin-right: 10px;
}
@media (max-width: 29.99875em) {
  .services__header {
    font-size: 18px;
    line-height: 1.3333333333;
  }
}
.services__designation {
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c2c2c2;
  padding: 15px 0px 15px 0px;
}
@media (max-width: 29.99875em) {
  .services__designation {
    font-size: 21px;
    line-height: 1.25;
  }
}
.services__designation-active {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-left: 3px solid #000;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}
.form {
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#efefef), to(#fff));
  background: linear-gradient(to right, #efefef 0%, #fff 100%);
  padding-bottom: 131px;
}
@media (max-width: 47.99875em) {
  .form {
    padding: 0;
  }
}
.form__content {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 50px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 35px 0px -16px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 35px 0px -16px rgba(0, 0, 0, 0.3);
}
@media (max-width: 47.99875em) {
  .form__content {
    padding: 40px 20px;
    border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 51px;
}
@media (max-width: 47.99875em) {
  .form__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.form__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.1956521739;
  color: #fff;
  margin-right: 33px;
}
@media (max-width: 47.99875em) {
  .form__title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 16px;
    margin-right: 0px;
  }
}
@media (max-width: 29.99875em) {
  .form__title {
    font-size: 34px;
    line-height: 1.2058823529;
  }
}
.form__description {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #d9d9d9;
}
@media (max-width: 29.99875em) {
  .form__description {
    font-size: 14px;
    line-height: 1.5;
  }
}
.form__item-name {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}
@media (max-width: 47.99875em) {
  .form__item-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0px !important;
    margin-bottom: 30px;
  }
}
.form__item-name::before {
  content: url(../images/form/profile.png);
  position: absolute;
  left: 30px;
  top: 30px;
}
.form__item-name:not(:last-child) {
  margin-right: 30px;
}
.form__item-phone {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}
@media (max-width: 47.99875em) {
  .form__item-phone {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.form__item-phone::before {
  position: absolute;
  content: url(../images/form/phone.png);
  left: 25px;
  top: 30px;
}
.form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .form__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.form__input {
  width: 100%;
  padding: 36px 30px 30px 60px;
  border-radius: 12px;
}
.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}
.form__input::-webkit-input-placeholder {
  color: #c2c2c2;
  font-size: 18px;
}
.form__input::-moz-placeholder {
  color: #c2c2c2;
  font-size: 18px;
}
.form__input:-ms-input-placeholder {
  color: #c2c2c2;
  font-size: 18px;
}
.form__input::-ms-input-placeholder {
  color: #c2c2c2;
  font-size: 18px;
}
.form__input::placeholder {
  color: #c2c2c2;
  font-size: 18px;
}
.form__center {
  position: relative;
}
.form__center::before {
  position: absolute;
  content: url(../images/form/message.png);
  left: 25px;
  top: 40px;
}
.form__area {
  width: 100%;
  padding: 40px 30px 25px 60px;
  border-radius: 12px;
  resize: none;
  margin-bottom: 30px;
}
.form__area::-webkit-input-placeholder {
  color: #c2c2c2;
  font-size: 18px;
}
.form__area::-moz-placeholder {
  color: #c2c2c2;
  font-size: 18px;
}
.form__area:-ms-input-placeholder {
  color: #c2c2c2;
  font-size: 18px;
}
.form__area::-ms-input-placeholder {
  color: #c2c2c2;
  font-size: 18px;
}
.form__area::placeholder {
  color: #c2c2c2;
  font-size: 18px;
}
.form__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 30px;
  background: #fff;
  border-radius: 12px;
  color: #151515;
  margin-bottom: 30px;
}
@media (max-width: 47.99875em) {
  .form__control {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 47.99875em) {
  .form__text {
    margin-bottom: 10px;
  }
}
.form__radio {
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: -0.5px;
  color: #c2c2c2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form__radio span {
  font-size: 13px;
  font-weight: 700;
  margin-left: 3px;
  letter-spacing: 0.5px;
}
@media (max-width: 29.99875em) {
  .form__radio span {
    font-size: 10px;
  }
}
@media (max-width: 29.99875em) {
  .form__radio {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}
.form__btn {
  padding: 36px 30px;
  background: #6398FF;
  border-radius: 12px;
  color: #fff;
  text-align: left;
  font-size: 16px;
}
@media (max-width: 29.99875em) {
  .form__btn {
    padding: 24px 20px;
  }
}
.form__custom-radio {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #c2c2c2;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.form__custom-radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #6398FF;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

input[type=radio] {
  margin-right: 10px;
  display: none;
}

input[type=radio]:checked ~ div {
  color: #6398FF;
}

input[type=radio]:checked + .form__custom-radio::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

input[type=radio]:checked + .form__custom-radio {
  border: 2px solid #6398FF;
}

@media (max-width: 47.99875em) {
  .form__container {
    padding: 0;
  }
}
.clinics {
  padding: 100px 0px;
  background: #fff;
}
.clinics__title {
  text-align: center;
  font-size: 63px;
  font-weight: 700;
  line-height: 1.2063492063;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #eaeaea;
  margin-bottom: 50px;
}
@media (max-width: 75.9375em) {
  .clinics__title {
    font-size: 54px;
    line-height: 1.2037037037;
    letter-spacing: 3px;
  }
}
@media (max-width: 64em) {
  .clinics__title {
    font-size: 40px;
    line-height: 1.2;
  }
}
@media (max-width: 29.99875em) {
  .clinics__title {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 2px;
  }
}
.clinics__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 51.25em) {
  .clinics__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.clinics__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: #151515;
  margin-bottom: 60px;
}
@media (max-width: 75.9375em) {
  .clinics__heading {
    font-size: 35px;
    line-height: 1.1428571429;
  }
}
@media (max-width: 64em) {
  .clinics__heading {
    font-size: 30px;
    line-height: 1.2;
  }
}
@media (max-width: 29.99875em) {
  .clinics__heading {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
@media (max-width: 75.9375em) {
  .clinics__content {
    width: 600px;
  }
}
@media (max-width: 64em) {
  .clinics__content {
    width: 500px;
  }
  .clinics__content:not(:last-child) {
    margin-right: 5px !important;
  }
}
@media (max-width: 51.25em) {
  .clinics__content {
    width: 100%;
  }
  .clinics__content:not(:last-child) {
    margin-bottom: 44px !important;
  }
}
.clinics__content:not(:last-child) {
  margin-right: 30px;
}
.clinics__padding {
  padding-bottom: 49px;
}
@media (max-width: 75.9375em) {
  .clinics__padding {
    padding-bottom: 40px;
  }
}
@media (max-width: 64em) {
  .clinics__padding {
    padding-bottom: 10px;
  }
}
@media (max-width: 51.25em) {
  .clinics__padding {
    padding-bottom: 0px;
  }
}
.clinics__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  min-width: 0;
}
.clinics__adress {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #151515;
  margin-left: 11px;
}
@media (max-width: 29.99875em) {
  .clinics__adress {
    font-size: 18px;
    line-height: 1.4444444444;
  }
}
.clinics__slider {
  width: 594px;
  height: 430px !important;
}
@media (max-width: 75.9375em) {
  .clinics__slider {
    width: 100%;
    height: 335px !important;
    margin-left: 0 !important;
  }
}
@media (max-width: 30em) {
  .clinics__slider {
    height: 250px !important;
  }
}
@media (max-width: 23.125em) {
  .clinics__slider {
    height: 200px !important;
  }
}
.clinics__slide {
  width: auto;
}
.clinics__image {
  text-align: center !important;
}
.clinics__image img {
  max-width: 100% !important;
}
.clinics__mini-slide {
  opacity: 0.2;
  -webkit-transition: opacity 0.9s ease !important;
  transition: opacity 0.9s ease !important;
}
.clinics__mini-slide.swiper-slide-thumb-active {
  opacity: 1;
}
.clinics__mini-image {
  position: relative;
  padding-bottom: 80%;
  cursor: pointer;
}
@media (max-width: 75.9375em) {
  .clinics__mini-image {
    padding-bottom: 60%;
    width: 81px;
  }
}
@media (max-width: 64em) {
  .clinics__mini-image {
    width: 61px;
  }
}
.clinics__mini-image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.clinics__next::after {
  color: #fff;
  font-size: 25px !important;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  border-radius: 31px 0px 0px 31px;
  padding: 17px;
}
.clinics__prev::after {
  color: #fff;
  font-size: 25px !important;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  border-radius: 0px 31px 31px 0px;
  padding: 17px;
}
.clinics__prev.swiper-button-disabled {
  background: none;
}
.clinics__next.swiper-button-disabled {
  background: none;
}

.iphk__slider {
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 594px !important;
  height: 430px !important;
}
@media (max-width: 75.9375em) {
  .iphk__slider {
    width: 100% !important;
    height: 335px !important;
  }
}
@media (max-width: 30em) {
  .iphk__slider {
    height: 250px !important;
  }
}
@media (max-width: 23.125em) {
  .iphk__slider {
    height: 200px !important;
  }
}

.iphk__mini-slide {
  opacity: 0.2;
  -webkit-transition: opacity 0.9s ease !important;
  transition: opacity 0.9s ease !important;
}

.iphk__mini-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.iphk__mini-image {
  position: relative;
  padding-bottom: 80%;
  cursor: pointer;
}
@media (max-width: 75.9375em) {
  .iphk__mini-image {
    padding-bottom: 60%;
    width: 81px;
  }
}
@media (max-width: 64em) {
  .iphk__mini-image {
    width: 61px;
  }
}
.iphk__mini-image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page__map {
  margin-bottom: 60px;
}

#map {
  height: 800px;
}
@media (max-width: 47.99875em) {
  #map {
    height: 673px;
  }
}

[class*=ymaps][class*=-ground-pane] {
  filter: hue-rotate(45deg) invert(100%) grayscale(1);
  -ms-filter: hue-rotate(45deg);
  -webkit-filter: hue-rotate(170deg) invert(100%) grayscale(0.7);
  -moz-filter: invert(70%);
  -o-filter: invert(70%);
}

.ymaps-2-1-79-balloon__layout {
  border: 4px solid #6398FF;
  border-radius: 0px 30px 30px 0px;
}

.footer {
  margin-bottom: 20px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}
@media (max-width: 27.3125em) {
  .footer__top {
    padding-bottom: 0px;
  }
}
.footer__top:last-child .footer__link:last-child {
  position: relative;
}
.footer__top:last-child .footer__link:last-child::after {
  position: absolute;
  content: url(../images/footer/warning.svg);
  left: -8px;
  top: -15px;
}
@media (max-width: 61.99875em) {
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 52em) {
  .footer__top {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 40.3125em) {
  .footer__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 61.99875em) {
  .footer__item {
    margin-right: 15px;
    margin-bottom: 50px;
  }
}
@media (max-width: 27.3125em) {
  .footer__item {
    width: 250px;
    margin-bottom: 35px;
  }
}
.footer__logo {
  width: 50px;
  height: 50px;
  margin-bottom: 25px;
}
.footer__text {
  color: #c2c2c2;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.footer__body {
  border-bottom: 1px solid #424242;
  margin-bottom: 32px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 47.99875em) {
  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__copyrights {
  color: #c2c2c2;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media (max-width: 47.99875em) {
  .footer__copyrights {
    font-size: 10px;
    line-height: 1.3;
    margin-bottom: 10px;
    text-align: center;
  }
}
.footer__warning {
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 1.5px;
  font-weight: 500;
  position: relative;
}
.footer__warning::before {
  position: absolute;
  content: url(../images/footer/warning.svg);
  left: -20px;
  top: 8px;
}
@media (max-width: 47.99875em) {
  .footer__warning {
    font-size: 10px;
    line-height: 1.3;
    text-align: center;
  }
}
.footer__middle-logo {
  width: 100px;
}

._flex3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 47.99875em) {
  ._ch2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 10px;
  }
}
.page_inner {
  padding-top: 1.875rem;
}
.page__header {
  margin-bottom: 1.875rem;
}