@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #151515;
  line-height: 1;
  font-family: "Montserrat";
  font-size: rem(18);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
  background-color: #141414;
  color: #fff;
}
.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 76.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.header__hidden {
  position: fixed;
  width: 100%;
  left: 0;
  top: -100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  z-index: 10;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.9375rem 0;
}
.header__img {
  width: 100px;
  height: 60px;
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .menu__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.header .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 14px;
  color: #c2c2c2;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.header .menu__link:hover {
  color: #fff;
}
.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__button {
  border: 1.2px solid #fff;
  border-radius: 40px;
  padding: 0.875rem 1.25rem;
  color: #fff;
  font-size: 14px;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.header__button:hover {
  background: #6398FF;
}
.header__visible {
  padding-top: 25px;
}
.header__visible-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 107px;
}
.header__visible-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__visible-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  margin-right: 70px;
}
.header__visible-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__visible-button {
  border: 1.2px solid #fff;
  border-radius: 40px;
  padding: 1.125rem 1.25rem;
  color: #fff;
  font-size: 14px;
}
.header__visible-img {
  width: 120px;
  height: 68px;
}

.__show {
  top: 0;
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-block__text {
  margin-top: 134px;
}
.main-block__title {
  font-size: 81px;
  letter-spacing: 20%;
  line-height: 1.1975308642;
  margin-bottom: 50px;
}
.main-block__list {
  margin-left: 10px;
}
.main-block__item {
  font-size: 18px;
  line-height: 1.8888888889;
  list-style: disc;
}
.main-block__item:not(:last-child) {
  margin-bottom: 10px;
}
.main-block__img {
  margin-top: 70px;
}
.about {
  background: #fff;
}
.about__halfimg {
  position: relative;
}
.about__half-image {
  position: absolute;
  left: 0px;
  top: -250px;
}
.about__title {
  font-size: 81px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px #c2c2c2;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 35px;
  margin-bottom: 80px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 50;
}
.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #151515;
}
.about__subtitle {
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 2px;
}
.about__description {
  font-size: 20px;
  line-height: 1.5;
}
.about__description:not(:last-child) {
  margin-bottom: 20px;
}
[data-scroll] {
  -webkit-transition: all 3s;
  transition: all 3s;
}

[data-scroll=in] {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

[data-scroll=out] {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.qualification {
  margin-top: -352px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF));
  background: linear-gradient(#EFEFEF 0% #FFF 100%);
}
.qualification__title {
  padding: 100px 0px 40px 0px;
  color: #151515;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}
.qualification__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.qualification__content {
  background: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  font-size: 14px;
  min-height: 340px;
}
.qualification__content:not(:last-child) {
  margin-right: 30px;
}
.qualification__list {
  margin-left: 10px;
  padding: 20px 20px 0px 20px;
}
.qualification__item {
  list-style: disc;
}
.qualification__item:not(:last-child) {
  margin-bottom: 15px;
}
.qualification__date {
  font-size: 98px;
  line-height: 1.193877551;
  margin-left: -20px;
  opacity: 5%;
  font-weight: 700;
}

.bottom-qualification__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bottom-qualification__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.bottom-qualification__item:not(:last-child) {
  margin-bottom: 25px;
}
.bottom-qualification__text {
  font-size: 20px;
  color: #151515;
  line-height: 1.5;
  text-align: left;
}
.bottom-qualification__circle {
  margin-right: 15px;
  min-width: 44px;
  height: 44px;
  background: #D9D9D9;
  border-radius: 50%;
  position: relative;
}
.bottom-qualification__circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  background: #151515;
  border-radius: 50%;
}
.bottom-qualification__circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #d9d9d9;
  border-radius: 50%;
}

.qualification-slider {
  position: relative !important;
}
.qualification-slider__swiper {
  width: 520px;
  height: 250px;
  background-color: #eaeaea;
}
.qualification-slider__slide {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.qualification-slider__image {
  max-width: 100%;
}
.qualification-slider__next {
  position: absolute !important;
  top: 272px !important;
  z-index: 9 !important;
  left: 141px !important;
  background: url("../images/qualification/arrow.png");
  background-color: #6398FF;
  width: 89px !important;
  height: 70px !important;
  cursor: pointer !important;
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
}
.qualification-slider__next::after {
  display: none;
}
.qualification-slider__prev {
  position: absolute !important;
  top: 272px !important;
  z-index: 9 !important;
  left: 10% !important;
  background: url("../images/qualification/arrowl.png");
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
  background-color: #6398FF;
  width: 89px !important;
  height: 70px !important;
}
.qualification-slider__prev::after {
  display: none;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  background-color: #FFF;
  opacity: 1 !important;
}

.image-gallery {
  margin-bottom: 100px;
}
.image-gallery__slider {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.image-gallery-scrollbar-drag {
  background-color: aqua;
}
.image-gallery__wrapper {
  margin: 190px 0px;
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: (auto)[8] !important;
  grid-template-columns: repeat(8, auto) !important;
}
.image-gallery__slide {
  position: relative;
  margin-bottom: 180px;
}
.image-gallery__image {
  width: 282px;
  height: 389px;
}
.image-gallery__after {
  position: absolute !important;
  top: 150px;
  left: 180px;
  z-index: 5;
}

.swiper-scrollbar-drag {
  cursor: pointer;
  background: url("../images/gallery/dragger.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  background-position: center !important;
}
.swiper-scrollbar-drag::after {
  display: none !important;
}

.swiper-grid-column > .swiper-wrapper {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-scrollbar-horizontal {
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 58% !important;
}

.video-gallery__slide {
  position: relative !important;
}
.video-gallery__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute !important;
  top: 20px;
  left: 50px;
  width: 100%;
}
.video-gallery__buttons {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video-gallery__playbtn {
  cursor: pointer;
}
.video-gallery__playbtn::before {
  content: url("../video/play.png");
  background: #6398FF;
  padding: 14px 18px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: all 2s linear 3s;
  transition: all 2s linear 3s;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
.video-gallery__mutebtn {
  margin-right: 32px;
  cursor: pointer;
}
.video-gallery__mutebtn::before {
  content: url("../video/volume.png");
}
.video-gallery__fullscbtn {
  cursor: pointer;
}
.video-gallery__fullscbtn::before {
  content: url("../video/screen.png");
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(99, 152, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(99, 152, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px rgba(99, 152, 255, 0);
            box-shadow: 0 0 0 15px rgba(99, 152, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(99, 152, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(99, 152, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px rgba(99, 152, 255, 0);
            box-shadow: 0 0 0 15px rgba(99, 152, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(25, 27, 31, 0.7);
            box-shadow: 0 0 0 0 rgba(25, 27, 31, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px rgba(25, 27, 31, 0);
            box-shadow: 0 0 0 15px rgba(25, 27, 31, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes pulse2 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(25, 27, 31, 0.7);
            box-shadow: 0 0 0 0 rgba(25, 27, 31, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px rgba(25, 27, 31, 0);
            box-shadow: 0 0 0 15px rgba(25, 27, 31, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
.play::before {
  content: url("../video/play.png");
  background: #6398FF;
  padding: 14px 18px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.pause::before {
  content: url("../video/pause.png");
  background: #151515;
  padding: 14px 20px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-animation: pulse2 2s infinite;
          animation: pulse2 2s infinite;
}

.page_inner {
  padding-top: 1.875rem;
}
.page__header {
  margin-bottom: 1.875rem;
}